:root {
    --cor_fundo: #FFFFFF;
    --preto: #000000;
    --texto_azul: #2A7AE4;
    --texto_preto: #464646;
    --input_pesquisa: #F5F5F5;
    --texto_input: #A2A2A2;
    --fundo_Rodapé: #EAF2FD;
} ;