.sessao_login {
    background-color: var(--input_pesquisa);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 500px;
}

.sessao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 291px;
}

.titulo_login {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--texto_preto);
    margin: 1rem;
}

.input_login {
    width: 423px;
    height: 63.13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--texto_input);
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
}

.botao_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: var(--texto_azul);
    width: 423px;
    height: 62px;
    color: var(--cor_fundo);
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}


@media screen and (max-width: 440px) {

    .input_login,
    .botao_input {
        width: 320px;
        height: 65px;
    }


}